# Библиотека `pandas`: часть 2

*Алла Тамбовцева*

## Домашнее задание 

### Описание домашнего задания и формат сдачи

В домашнем задании необходимо решить предложенные задачи по программированию – вписать свой код в ячейки после условий задач вместо комментария `### YOUR CODE HERE ###` в файле *homework-pandas2.ipynb* и сохранить изменения, используя опцию *Save and Checkpoint* из вкладки меню *File* или кнопку *Save and Checkpoint* на панели инструментов. Итоговый файл в формате `.ipynb` (файл Jupyter Notebook) необходимо загрузить в личный кабинет обучающей онлайн платформы Skillbox (https://go.skillbox.ru/) и отправить на проверку.

Файл `Fishing.csv` содержит результаты опроса о рыбалке: респонденты, заполняя опросник, подробно описывали свою недавнюю рыбалку.

**Описание переменных в датафрейме:**


* `mode`: выбранный тип рыбалки: на берегу (`beach`), на пирсе (`pier`), в своей лодке (`boat`) и в арендованной лодке (`charter`);

* `price`: стоимость выбранного типа рыбалки;

* `catch`: коэффициент улова при выбранном типе рыбалки;

* `pbeach`: стоимость рыбалки на берегу;

* `ppier`: стоимость рыбалки на пирсе;

* `pboat`: стоимость рыбалки на своей лодке;

* `pcharter`: стоимость рыбалки на арендованной лодке;

* `cbeach`: коэффициент улова на рыбалке на берегу;

* `cpier`: коэффициент улова на рыбалке на пирсе;

* `cboat`: коэффициент улова на рыбалке на своей лодке;

* `ccharter`: коэффициент улова на рыбалке на арендованной лодке;

* `income`: доход в месяц.

Подробнее об опросе и исследовании можно почитать в [статье](https://core.ac.uk/download/pdf/38934845.pdf) J.Herriges, C.Kling *"Nonlinear Income Effects in Random Utility Models"* (1999).

### Задание 1

Загрузить таблицу из файла `Fishing.csv` и сохранить её в датафрейм `dat`. 
Вывести на экран первые 8 строк загруженного датафрейма.

In [3]:
from google.colab import drive
from pathlib import Path
drive.mount('/content/drive/')
path = Path('/content/drive/')

import os
import pandas as pd
import numpy as np

dat = pd.read_csv("/content/drive/MyDrive/Python/13.Fishing.csv")

Mounted at /content/drive/

In [13]:
dat.head(8)

   Unnamed: 0  Unnamed: 0.1     mode  ...     income  log_income    pdiff
0           0             1  charter  ...  7083.3317    8.865500   25.000
1           1             2  charter  ...  1249.9998    7.130899   19.420
2           2             3     boat  ...  3749.9999    8.229511  137.540
3           3             4     pier  ...  2083.3332    7.641724    0.000
4           4             5     boat  ...  4583.3320    8.430182   65.416
5           5             6  charter  ...  4583.3320    8.430182  128.540
6           6             7    beach  ...  8750.0010    9.076809    0.000
7           7             8  charter  ...  2083.3332    7.641724   41.580

[8 rows x 16 columns]

### Задание 2

Добавить, используя метод `.apply()`, столбец `log_income`, содержащий натуральный логарифм доходов респондентов.

In [5]:
dat['log_income'] = dat['income'].apply(np.log)
dat.head(8)

   Unnamed: 0  Unnamed: 0.1     mode  ...  ccharter     income  log_income
0           0             1  charter  ...    0.5391  7083.3317    8.865500
1           1             2  charter  ...    0.4671  1249.9998    7.130899
2           2             3     boat  ...    1.0266  3749.9999    8.229511
3           3             4     pier  ...    0.5391  2083.3332    7.641724
4           4             5     boat  ...    0.3240  4583.3320    8.430182
5           5             6  charter  ...    0.3975  4583.3320    8.430182
6           6             7    beach  ...    0.5391  8750.0010    9.076809
7           7             8  charter  ...    0.0209  2083.3332    7.641724

[8 rows x 15 columns]

### Задание 3

Посчитать для каждого респондента абсолютное значение отклонения `price` от `pbeach`  и сохранить результат в столбец `pdiff`.

***Подсказка 1:*** для нахождения абсолютного значения числа используется функция `abs()`. Пример:

    abs(-8)
    8

***Подсказка 2:*** пример с lamda-функцией в первом уроке этого модуля.

In [6]:
f=lambda x, y:x-y
dat['pdiff'] = abs(f(dat['price'], dat['pbeach']))
dat.head(8)

   Unnamed: 0  Unnamed: 0.1     mode  ...     income  log_income    pdiff
0           0             1  charter  ...  7083.3317    8.865500   25.000
1           1             2  charter  ...  1249.9998    7.130899   19.420
2           2             3     boat  ...  3749.9999    8.229511  137.540
3           3             4     pier  ...  2083.3332    7.641724    0.000
4           4             5     boat  ...  4583.3320    8.430182   65.416
5           5             6  charter  ...  4583.3320    8.430182  128.540
6           6             7    beach  ...  8750.0010    9.076809    0.000
7           7             8  charter  ...  2083.3332    7.641724   41.580

[8 rows x 16 columns]

### Задание 4

Сгруппировать наблюдения в таблице по признаку тип рыбалки (`mode`) и вывести для каждого типа среднюю цену (`price`), которую респонденты заплатили за рыбалку.

In [7]:
dat.groupby('mode')
list(dat.groupby('mode'))

[('beach',
        Unnamed: 0  Unnamed: 0.1   mode  ...      income  log_income  pdiff
  6              6             7  beach  ...  8750.00100    9.076809    0.0
  14            14            15  beach  ...  8750.00100    9.076809    0.0
  16            16            17  beach  ...  5416.66670    8.597236    0.0
  25            25            26  beach  ...  1249.99980    7.130899    0.0
  33            33            34  beach  ...  3749.99990    8.229511    0.0
  ...          ...           ...    ...  ...         ...         ...    ...
  1167        1167          1168  beach  ...  2083.33320    7.641724    0.0
  1173        1173          1174  beach  ...  2916.66660    7.978197    0.0
  1176        1176          1177  beach  ...  2916.66660    7.978197    0.0
  1178        1178          1179  beach  ...  6250.00130    8.740337    0.0
  1180        1180          1181  beach  ...   416.66668    6.032287    0.0

  [134 rows x 16 columns]),
 ('boat',
        Unnamed: 0  Unnamed: 0.1  mode  ...      income  log_income    pdiff
  2              2             3  boat  ...   3749.9999    8.229511  137.540
  4              4             5  boat  ...   4583.3320    8.430182   65.416
  8              8             9  boat  ...   3749.9999    8.229511    0.000
  9              9            10  boat  ...   2916.6666    7.978197    0.000
  11            11            12  boat  ...   7083.3317    8.865500  295.422
  ...          ...           ...   ...  ...         ...         ...      ...
  1164        1164          1165  boat  ...  12499.9980    9.433484  318.958
  1170        1170          1171  boat  ...   5416.6667    8.597236  148.716
  1171        1171          1172  boat  ...   8750.0010    9.076809    9.032
  1174        1174          1175  boat  ...   4583.3320    8.430182    5.032
  1181        1181          1182  boat  ...   6250.0013    8.740337  104.454

  [418 rows x 16 columns]),
 ('charter',
        Unnamed: 0  Unnamed: 0.1     mode  ...     income  log_income    pdiff
  0              0             1  charter  ...  7083.3317    8.865500   25.000
  1              1             2  charter  ...  1249.9998    7.130899   19.420
  5              5             6  charter  ...  4583.3320    8.430182  128.540
  7              7             8  charter  ...  2083.3332    7.641724   41.580
  20            20            21  charter  ...  7916.6663    8.976725  292.222
  ...          ...           ...      ...  ...        ...         ...      ...
  1161        1161          1162  charter  ...  5416.6667    8.597236   42.496
  1165        1165          1166  charter  ...  2916.6666    7.978197   41.924
  1168        1168          1169  charter  ...  2916.6666    7.978197   49.084
  1172        1172          1173  charter  ...  2083.3332    7.641724   18.500
  1175        1175          1176  charter  ...  6250.0013    8.740337   28.368

  [452 rows x 16 columns]),
 ('pier',
        Unnamed: 0  Unnamed: 0.1  mode  ...     income  log_income  pdiff
  3              3             4  pier  ...  2083.3332    7.641724    0.0
  10            10            11  pier  ...  3749.9999    8.229511    0.0
  12            12            13  pier  ...  1249.9998    7.130899    0.0
  13            13            14  pier  ...  2083.3332    7.641724    0.0
  15            15            16  pier  ...  5416.6667    8.597236    0.0
  ...          ...           ...   ...  ...        ...         ...    ...
  1163        1163          1164  pier  ...  3749.9999    8.229511    0.0
  1166        1166          1167  pier  ...  5416.6667    8.597236    0.0
  1169        1169          1170  pier  ...  2083.3332    7.641724    0.0
  1177        1177          1178  pier  ...  3749.9999    8.229511    0.0
  1179        1179          1180  pier  ...  1249.9998    7.130899    0.0

  [178 rows x 16 columns])]

In [8]:
dat.groupby('mode').agg('mean')['price']

mode
beach      35.699493
boat       41.606813
charter    75.096942
pier       30.571326
Name: price, dtype: float64

### Задание 5

Сгруппировать наблюдения в таблице по признаку тип рыбалки (`mode`) и вывести для каждого типа разницу между медианным и средним значением цены (`price`), которую респонденты заплатили за рыбалку.

**Посказка:** можно написать свою lambda-функцию для подсчёта разницы между медианой и средним и применить её внутри метода для агрегирования. Внимание: название самостоятельно написанной функции будет уже вводиться без кавычек.

In [9]:
dat.groupby('mode')['price'].agg(lambda f : f.median() - f.mean())

mode
beach     -16.391493
boat      -17.004813
charter   -18.226942
pier      -13.942326
Name: price, dtype: float64

### Задание 6

Сгруппировать наблюдения в таблице по признаку тип рыбалки (`mode`) и сохранить полученные датафреймы (один для каждого типа рыбалки) в отдельные csv-файлы. В итоге должно получиться четыре разных csv-файла.

**Подсказка 1:** можно запустить следующий код и посмотреть, что получится:

In [10]:
for name, data in dat.groupby("mode"):
    print(name, data)
    #print(data)

beach       Unnamed: 0  Unnamed: 0.1   mode  ...      income  log_income  pdiff
6              6             7  beach  ...  8750.00100    9.076809    0.0
14            14            15  beach  ...  8750.00100    9.076809    0.0
16            16            17  beach  ...  5416.66670    8.597236    0.0
25            25            26  beach  ...  1249.99980    7.130899    0.0
33            33            34  beach  ...  3749.99990    8.229511    0.0
...          ...           ...    ...  ...         ...         ...    ...
1167        1167          1168  beach  ...  2083.33320    7.641724    0.0
1173        1173          1174  beach  ...  2916.66660    7.978197    0.0
1176        1176          1177  beach  ...  2916.66660    7.978197    0.0
1178        1178          1179  beach  ...  6250.00130    8.740337    0.0
1180        1180          1181  beach  ...   416.66668    6.032287    0.0

[134 rows x 16 columns]
boat       Unnamed: 0  Unnamed: 0.1  mode  ...      income  log_income    pdiff
2              2             3  boat  ...   3749.9999    8.229511  137.540
4              4             5  boat  ...   4583.3320    8.430182   65.416
8              8             9  boat  ...   3749.9999    8.229511    0.000
9              9            10  boat  ...   2916.6666    7.978197    0.000
11            11            12  boat  ...   7083.3317    8.865500  295.422
...          ...           ...   ...  ...         ...         ...      ...
1164        1164          1165  boat  ...  12499.9980    9.433484  318.958
1170        1170          1171  boat  ...   5416.6667    8.597236  148.716
1171        1171          1172  boat  ...   8750.0010    9.076809    9.032
1174        1174          1175  boat  ...   4583.3320    8.430182    5.032
1181        1181          1182  boat  ...   6250.0013    8.740337  104.454

[418 rows x 16 columns]
charter       Unnamed: 0  Unnamed: 0.1     mode  ...     income  log_income    pdiff
0              0             1  charter  ...  7083.3317    8.865500   25.000
1              1             2  charter  ...  1249.9998    7.130899   19.420
5              5             6  charter  ...  4583.3320    8.430182  128.540
7              7             8  charter  ...  2083.3332    7.641724   41.580
20            20            21  charter  ...  7916.6663    8.976725  292.222
...          ...           ...      ...  ...        ...         ...      ...
1161        1161          1162  charter  ...  5416.6667    8.597236   42.496
1165        1165          1166  charter  ...  2916.6666    7.978197   41.924
1168        1168          1169  charter  ...  2916.6666    7.978197   49.084
1172        1172          1173  charter  ...  2083.3332    7.641724   18.500
1175        1175          1176  charter  ...  6250.0013    8.740337   28.368

[452 rows x 16 columns]
pier       Unnamed: 0  Unnamed: 0.1  mode  ...     income  log_income  pdiff
3              3             4  pier  ...  2083.3332    7.641724    0.0
10            10            11  pier  ...  3749.9999    8.229511    0.0
12            12            13  pier  ...  1249.9998    7.130899    0.0
13            13            14  pier  ...  2083.3332    7.641724    0.0
15            15            16  pier  ...  5416.6667    8.597236    0.0
...          ...           ...   ...  ...        ...         ...    ...
1163        1163          1164  pier  ...  3749.9999    8.229511    0.0
1166        1166          1167  pier  ...  5416.6667    8.597236    0.0
1169        1169          1170  pier  ...  2083.3332    7.641724    0.0
1177        1177          1178  pier  ...  3749.9999    8.229511    0.0
1179        1179          1180  pier  ...  1249.9998    7.130899    0.0

[178 rows x 16 columns]

**Подсказка 2:** для сохранения датафрейма в файл используется метод `.to_csv()`. Например, такой код сохранит датафрейм `dat` в файл `"Fish.csv"`:

In [ ]:
dat.to_csv("Fish.csv")

**Подсказка 3:** для склеивания строк можно использовать оператор `+`, например:

In [ ]:
"my_file" + ".xlsx"

'my_file.xlsx'

In [11]:
for name, data in dat.groupby('mode'):
   data.to_csv(name +".csv")

### Задание 7

Отсортировать строки в датафрейме в соответствии со значениями `income` в порядке убывания таким образом, чтобы результаты сортировки сохранились в исходном датафрейме.

In [18]:
dat.sort_values('income', inplace=True)
dat.head(10)

     Unnamed: 0  Unnamed: 0.1     mode  ...     income  log_income   pdiff
771         771           772     pier  ...  416.66668    6.032287   0.000
890         890           891     boat  ...  416.66668    6.032287  18.576
828         828           829     pier  ...  416.66668    6.032287   0.000
981         981           982     pier  ...  416.66668    6.032287   0.000
882         882           883  charter  ...  416.66668    6.032287   6.424
878         878           879     boat  ...  416.66668    6.032287  18.576
864         864           865     pier  ...  416.66668    6.032287   0.000
141         141           142  charter  ...  416.66668    6.032287   6.878
383         383           384  charter  ...  416.66668    6.032287   3.442
374         374           375  charter  ...  416.66668    6.032287  25.000

[10 rows x 16 columns]

### Задание 8

Отсортировать строки в датафрейме в соответствии со значениями `price` и `income` в порядке возрастания. Можно ли сказать, что люди с более низким доходом и выбравшие более дешёвый тип рыбалки, в целом, предпочитают один тип рыбалки, а люди с более высоким доходом и более дорогой рыбалкой – другой? Ответ записать в виде текстовой ячейки или в виде комментария.

In [22]:
dat.sort_values(['price', 'income'], inplace=True)
dat.tail(20)

      Unnamed: 0  Unnamed: 0.1     mode  ...      income  log_income    pdiff
376          376           377     boat  ...   5416.6667    8.597236   84.564
524          524           525  charter  ...  12499.9980    9.433484   73.212
536          536           537  charter  ...  10416.6660    9.251162  140.636
520          520           521  charter  ...   3749.9999    8.229511  151.960
875          875           876     boat  ...   7083.3317    8.865500   20.438
1050        1050          1051  charter  ...   2916.6666    7.978197  100.214
106          106           107  charter  ...   7083.3317    8.865500  190.362
661          661           662  charter  ...  10416.6660    9.251162   28.792
385          385           386     boat  ...   5416.6667    8.597236   71.442
389          389           390  charter  ...   6250.0013    8.740337   83.082
357          357           358  charter  ...   2916.6666    7.978197  141.688
394          394           395  charter  ...   8750.0010    9.076809  301.442
400          400           401     boat  ...   3749.9999    8.229511   99.452
119          119           120  charter  ...   7083.3317    8.865500  160.918
343          343           344    beach  ...   3749.9999    8.229511    0.000
377          377           378     boat  ...  12499.9980    9.433484  183.164
588          588           589  charter  ...   6250.0013    8.740337  223.960
446          446           447  charter  ...   8750.0010    9.076809  242.734
211          211           212  charter  ...   7916.6663    8.976725  271.960
249          249           250     boat  ...   8750.0010    9.076809  307.088

[20 rows x 16 columns]

In [ ]:
#Выбранный тип рыбалки не зависит от доходов людей и цены на нее.

### Задание 9

Любым известным способом проверить, есть ли в датафрейме пропущенные значения. Если есть, удалить строки с пропущенными значениями. Если нет, написать комментарий, что таких нет.

In [25]:
dat.isnull().sum()
# Пропущенные значения в датафрейме отсутствуют

Unnamed: 0      0
Unnamed: 0.1    0
mode            0
price           0
catch           0
pbeach          0
ppier           0
pboat           0
pcharter        0
cbeach          0
cpier           0
cboat           0
ccharter        0
income          0
log_income      0
pdiff           0
dtype: int64

.<br> .<br> .<br> .<br> .<br> .<br> .<br> .<br> .<br> .<br> .<br> .<br> .<br> .<br> .<br> .<br> .<br> .<br> 
# Дополнительное (необязательное) задание.
<br>

### Задание 1

Загрузить датафрейм из файла `wgi_fh.csv`, учитывая, что в качестве разделителя столбцов используется точка с запятой, а в качестве десятичного разделителя – запятая (опции `sep=` и `decimal=` в функции `read_csv()` соответственно).

Файл содержит данные за 2016 по различным политологическим индексам. Датафрейм содержит следующие столбцы:

* `country`: страна;
* `cnt_code`: код страны (аббревиатура);
* `year`: год;
* `va`: индекс подотчётности *Voice & Accountability (WGI)*;
* `ps`: индекс политической стабильности *Political Stability and Lack of Violence (WGI)*;
* `ge`: индекс эффективности правительства *Government Effectiveness (WGI)*;
* `rq`: индекс качества управления *Regulatory Quality (WGI)*;
* `rl`: индекс верховенства закона *Rule of Law (WGI)*;
* `cc`: индекс контроля коррупции *Control of Corruption (WGI)*;
* `fh`: индекс свободы *Freedom House (Freedom Rating)*.

Подробнее про индексы можно почитать на этой [странице](https://www.hse.ru/org/hse/4432173/mathbase/databases/db_18).

In [32]:
from google.colab import drive
from pathlib import Path
drive.mount('/content/drive/')
path = Path('/content/drive/')

import os

import pandas as pd
import numpy as np

da = pd.read_csv("/content/drive/MyDrive/Python/13.wgi_fh.csv", sep=";", decimal=",")
da

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

              country cnt_code  year    va    ps    ge    rq    rl    cc   fh
0               Aruba      ABW  2016  1.27  1.28  0.90  1.35  1.29  1.29  NaN
1             Andorra      ADO  2016  1.20  1.40  1.86  0.87  1.56  1.23  1.0
2         Afghanistan      AFG  2016 -1.09 -2.75 -1.22 -1.33 -1.62 -1.56  6.0
3              Angola      AGO  2016 -1.17 -0.39 -1.04 -1.00 -1.08 -1.41  6.0
4            Anguilla      AIA  2016   NaN  1.31  1.33  0.87 -0.09  1.23  NaN
..                ...      ...   ...   ...   ...   ...   ...   ...   ...  ...
209            Serbia      SRB  2016  0.21  0.05  0.09  0.06 -0.12 -0.31  2.0
210      South Africa      ZAF  2016  0.64 -0.13  0.27  0.21  0.07  0.05  2.0
211  Congo, Dem. Rep.      ZAR  2016 -1.39 -2.20 -1.51 -1.32 -1.61 -1.33  6.0
212            Zambia      ZMB  2016 -0.30  0.18 -0.66 -0.48 -0.30 -0.40  3.5
213          Zimbabwe      ZWE  2016 -1.11 -0.61 -1.16 -1.72 -1.32 -1.28  5.0

[214 rows x 10 columns]

### Задание 2

Вывести общую информацию по датафрейму: число строк и столбцов, типы данных в таблице. Есть ли в таблице пропущенные значения? Привести код и дать ответ в виде комментария.

In [42]:
print('В датафрейме', da.shape[0], 'строк')
print('В датафрейме', da.shape[1], 'столбцов')
da.isnull().sum()
# В таблице есть пропущенные значения

В датафрейме 214 строк
В датафрейме 10 столбцов

country      0
cnt_code     0
year         0
va          10
ps           3
ge           5
rq           5
rl           5
cc           5
fh          17
dtype: int64

### Задание 3

Если в датафрейме есть строки с пропущенными значениями, удалить их. Сохранить изменения в исходном датафрейме.

In [47]:
#da.isnull().sum()
da.dropna(inplace=True)
da.isnull().sum()
da

              country cnt_code  year    va    ps    ge    rq    rl    cc   fh
1             Andorra      ADO  2016  1.20  1.40  1.86  0.87  1.56  1.23  1.0
2         Afghanistan      AFG  2016 -1.09 -2.75 -1.22 -1.33 -1.62 -1.56  6.0
3              Angola      AGO  2016 -1.17 -0.39 -1.04 -1.00 -1.08 -1.41  6.0
5             Albania      ALB  2016  0.16  0.26  0.00  0.19 -0.35 -0.40  3.0
8           Argentina      ARG  2016  0.54  0.22  0.18 -0.47 -0.35 -0.31  2.0
..                ...      ...   ...   ...   ...   ...   ...   ...   ...  ...
209            Serbia      SRB  2016  0.21  0.05  0.09  0.06 -0.12 -0.31  2.0
210      South Africa      ZAF  2016  0.64 -0.13  0.27  0.21  0.07  0.05  2.0
211  Congo, Dem. Rep.      ZAR  2016 -1.39 -2.20 -1.51 -1.32 -1.61 -1.33  6.0
212            Zambia      ZMB  2016 -0.30  0.18 -0.66 -0.48 -0.30 -0.40  3.5
213          Zimbabwe      ZWE  2016 -1.11 -0.61 -1.16 -1.72 -1.32 -1.28  5.0

[195 rows x 10 columns]

### Задание 4

Назвать строки в датафрейме в соответствии со столбцом `cnt_code`. Удалить данный столбец из датафрейма.

In [55]:
da.index = da['cnt_code']
del da['cnt_code']
da

                   country  year    va    ps    ge    rq    rl    cc   fh
cnt_code
ADO                Andorra  2016  1.20  1.40  1.86  0.87  1.56  1.23  1.0
AFG            Afghanistan  2016 -1.09 -2.75 -1.22 -1.33 -1.62 -1.56  6.0
AGO                 Angola  2016 -1.17 -0.39 -1.04 -1.00 -1.08 -1.41  6.0
ALB                Albania  2016  0.16  0.26  0.00  0.19 -0.35 -0.40  3.0
ARG              Argentina  2016  0.54  0.22  0.18 -0.47 -0.35 -0.31  2.0
...                    ...   ...   ...   ...   ...   ...   ...   ...  ...
SRB                 Serbia  2016  0.21  0.05  0.09  0.06 -0.12 -0.31  2.0
ZAF           South Africa  2016  0.64 -0.13  0.27  0.21  0.07  0.05  2.0
ZAR       Congo, Dem. Rep.  2016 -1.39 -2.20 -1.51 -1.32 -1.61 -1.33  6.0
ZMB                 Zambia  2016 -0.30  0.18 -0.66 -0.48 -0.30 -0.40  3.5
ZWE               Zimbabwe  2016 -1.11 -0.61 -1.16 -1.72 -1.32 -1.28  5.0

[195 rows x 9 columns]

### Задание 5

Отсортировать строки в таблице в соответствии со значениями столбцов с индексами *Control of Corruption*  и *Voice & Accountability* таким образом, чтобы результаты сортировки были сохранены сразу в исходном датафрейме.

In [57]:
da.sort_values(['cc', 'va'], inplace=True)
da

                    country  year    va    ps    ge    rq    rl    cc   fh
cnt_code
GNQ       Equatorial Guinea  2016 -1.93 -0.19 -1.41 -1.38 -1.44 -1.81  7.0
SOM                 Somalia  2016 -1.83 -2.33 -2.18 -2.27 -2.37 -1.69  7.0
YEM             Yemen, Rep.  2016 -1.65 -2.79 -1.82 -1.48 -1.60 -1.67  6.5
SDN                   Sudan  2016 -1.80 -2.38 -1.41 -1.49 -1.26 -1.61  7.0
SSD             South Sudan  2016 -1.67 -2.42 -2.26 -1.86 -1.69 -1.58  6.5
...                     ...   ...   ...   ...   ...   ...   ...   ...  ...
NOR                  Norway  2016  1.58  1.17  1.88  1.70  2.02  2.20  1.0
SWE                  Sweden  2016  1.50  0.98  1.79  1.85  2.04  2.22  1.0
DNK                 Denmark  2016  1.47  0.85  1.89  1.58  1.90  2.24  1.0
FIN                 Finland  2016  1.49  0.96  1.85  1.82  2.02  2.28  1.0
NZL             New Zealand  2016  1.44  1.49  1.86  2.04  1.93  2.30  1.0

[195 rows x 9 columns]

### Задание 6

Используя метод `.apply()`, создать столбец `cc_round` со значениями индекса *Control of Corruption*, округлёнными до первого знака после запятой.

In [69]:
#cc_r = lambda ccr: round(ccr)
da['cc_round'] = da['cc'].apply(lambda ccr: round(ccr, 1),)
da

                    country  year    va    ps  ...    rl    cc   fh  cc_round
cnt_code                                       ...
GNQ       Equatorial Guinea  2016 -1.93 -0.19  ... -1.44 -1.81  7.0      -1.8
SOM                 Somalia  2016 -1.83 -2.33  ... -2.37 -1.69  7.0      -1.7
YEM             Yemen, Rep.  2016 -1.65 -2.79  ... -1.60 -1.67  6.5      -1.7
SDN                   Sudan  2016 -1.80 -2.38  ... -1.26 -1.61  7.0      -1.6
SSD             South Sudan  2016 -1.67 -2.42  ... -1.69 -1.58  6.5      -1.6
...                     ...   ...   ...   ...  ...   ...   ...  ...       ...
NOR                  Norway  2016  1.58  1.17  ...  2.02  2.20  1.0       2.2
SWE                  Sweden  2016  1.50  0.98  ...  2.04  2.22  1.0       2.2
DNK                 Denmark  2016  1.47  0.85  ...  1.90  2.24  1.0       2.2
FIN                 Finland  2016  1.49  0.96  ...  2.02  2.28  1.0       2.3
NZL             New Zealand  2016  1.44  1.49  ...  1.93  2.30  1.0       2.3

[195 rows x 10 columns]

### Задание 7

Добавить в датафрейм столбец `fh_status`, в котором будут храниться типы стран в зависимости от значения индекса *Freedom House* (значения типов стран: `"free"`, `"partly free"`, `"not free"`). Соответствие значений `fh` типам стран см. в Table 3 в конце [этой](https://freedomhouse.org/sites/default/files/2020-02/Methodology_FIW_2016.pdf) страницы.

**Подсказка:** здесь понадобится функция, которая возвращает разные значения в зависимости от выполнения условий. Её можно написать через `def` или `lambda`. Больше про функции можно почитать на [pythontutor.ru](https://pythontutor.ru/lessons/functions/).

In [ ]:
### YOUR CODE HERE ###

### Задание 8

Сгруппировать строки в датафрейме в соответствии со значениями столбца `fh_status`, полученного в предыдущем задании и вывести минимальное, среднее и максимальное значение показателя *Political Stability and Lack of Violence* по каждой группе.

In [ ]:
### YOUR CODE HERE ###

### Задание 9

Сгруппировать строки в датафрейме в соответствии со значениями столбца `fh_status` и записать строки, относящиеся к разным группам, в отдельные csv-файлы.

**Подсказка 1:** цикл `for`.

**Подсказка 2:**  [метод](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_csv.html) `.to_csv()` для выгрузки датафреймов `pandas` в csv-файлы.

In [ ]:
### YOUR CODE HERE ###

### Задание 10

Создайте (любым способом) маленький датафрейм, состоящий из двух столбцов:

* `fh_type`: тип страны;
* `count`: число стран данного типа.

    Постройте, используя полученный датафрейм, столбиковую диаграмму (*barplot*), опираясь на [эту](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.plot.bar.html) документацию. Чтобы увидеть график явно, прямо в текущем ноутбуке, допишите в начале ячейки с кодом для графика следующую строку:
    
        %matplotlib inline

**Подсказка:** число наблюдений — это функция `count`, её можно использовать наравне с `min`, `mean` и прочими.

In [ ]:
### YOUR CODE HERE ###