# Чтение и запись данных, часть 2

## Домашнее задание 

### Описание домашнего задания и формат сдачи

Выполните предложенные задачи — впишите свой код в ячейки после комментария `### YOUR CODE HERE ###` и сохраните изменения, используя опцию *Save and Checkpoint* из вкладки меню *File* или кнопку *Save and Checkpoint* на панели инструментов. Итоговый файл в формате `.ipynb` (файл Jupyter Notebook) загрузите в личный кабинет и отправьте на проверку.

In [ ]:
import pandas as pd
import urllib.request as req
import json
import sqlalchemy
import psycopg2
import pymongo

from google.colab import drive
from pathlib import Path
drive.mount('/content/drive/')
path = Path('/content/drive/')

/usr/local/lib/python3.6/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

Mounted at /content/drive/

### Задача 1

Используя сервис MetaWeather узнайте, какая погода была в Лондоне 1 марта 2019 года. Для этого в первой ячейке определите идентификатор Лондона в этом сервисе, а во второй — запросите данные погоды. Обратите внимание, что сервис вернёт данные за несколько дней, а не только за 1 марта, в этой задаче это допустимо.

In [ ]:
url = "https://www.metaweather.com/api/location/search/?query=london"

In [ ]:
# Узнаем woeid
with req.urlopen(url) as session:
    response = session.read().decode()
data = json.loads(response)
city = data[0]['woeid']
city

44418

In [ ]:
# Получим историю погоды за неделю
url = "http://www.metaweather.com/api/location/44418/2019/01/03"
with req.urlopen(url) as session:
    response = session.read().decode()
    data = json.loads(response)
data

[{'air_pressure': 1045.745,
  'applicable_date': '2019-01-03',
  'created': '2019-01-03T21:54:02.363005Z',
  'humidity': 74,
  'id': 5474349238714368,
  'max_temp': 4.6375,
  'min_temp': -2.2566666666666664,
  'predictability': 70,
  'the_temp': 4.74,
  'visibility': 8.638923685675653,
  'weather_state_abbr': 'lc',
  'weather_state_name': 'Light Cloud',
  'wind_direction': 356.0107261140633,
  'wind_direction_compass': 'N',
  'wind_speed': 3.149986739002227},
 {'air_pressure': 1045.87,
  'applicable_date': '2019-01-03',
  'created': '2019-01-03T18:52:03.366834Z',
  'humidity': 70,
  'id': 6084939992793088,
  'max_temp': 5.22,
  'min_temp': -4.38,
  'predictability': 70,
  'the_temp': 5.17,
  'visibility': 9.894093493995069,
  'weather_state_abbr': 'lc',
  'weather_state_name': 'Light Cloud',
  'wind_direction': 0.33346500159421527,
  'wind_direction_compass': 'N',
  'wind_speed': 3.2661510394873936},
 {'air_pressure': 1045.87,
  'applicable_date': '2019-01-03',
  'created': '2019-01-03T15:50:01.662382Z',
  'humidity': 70,
  'id': 6465644870500352,
  'max_temp': 5.22,
  'min_temp': -4.38,
  'predictability': 70,
  'the_temp': 5.17,
  'visibility': 9.894093493995069,
  'weather_state_abbr': 'lc',
  'weather_state_name': 'Light Cloud',
  'wind_direction': 0.33346500159421527,
  'wind_direction_compass': 'N',
  'wind_speed': 3.2661510394873936},
 {'air_pressure': 1045.87,
  'applicable_date': '2019-01-03',
  'created': '2019-01-03T12:48:02.119559Z',
  'humidity': 72,
  'id': 4556877383860224,
  'max_temp': 6.615,
  'min_temp': -4.466666666666667,
  'predictability': 70,
  'the_temp': 7.51,
  'visibility': 9.193497474747474,
  'weather_state_abbr': 'lc',
  'weather_state_name': 'Light Cloud',
  'wind_direction': 11.063112010944483,
  'wind_direction_compass': 'N',
  'wind_speed': 3.394774514487394},
 {'air_pressure': 1045.87,
  'applicable_date': '2019-01-03',
  'created': '2019-01-03T09:46:01.394322Z',
  'humidity': 75,
  'id': 4595351784783872,
  'max_temp': 6.17,
  'min_temp': -4.406666666666666,
  'predictability': 70,
  'the_temp': 7.459999999999999,
  'visibility': 8.326063290384157,
  'weather_state_abbr': 'lc',
  'weather_state_name': 'Light Cloud',
  'wind_direction': 0.6667042804391717,
  'wind_direction_compass': 'N',
  'wind_speed': 3.3036510394873937},
 {'air_pressure': 1046.1799999999998,
  'applicable_date': '2019-01-03',
  'created': '2019-01-03T06:44:01.396193Z',
  'humidity': 78,
  'id': 5044235912871936,
  'max_temp': 4.7025,
  'min_temp': -3.4966666666666666,
  'predictability': 70,
  'the_temp': 5.015000000000001,
  'visibility': 7.769936073331742,
  'weather_state_abbr': 'lc',
  'weather_state_name': 'Light Cloud',
  'wind_direction': 0.6667042804391718,
  'wind_direction_compass': 'N',
  'wind_speed': 3.2943311794599537},
 {'air_pressure': 1045.6799999999998,
  'applicable_date': '2019-01-03',
  'created': '2019-01-03T03:42:02.610662Z',
  'humidity': 78,
  'id': 6684140275499008,
  'max_temp': 4.7025,
  'min_temp': -3.4966666666666666,
  'predictability': 70,
  'the_temp': 4.995,
  'visibility': 7.9373956096397045,
  'weather_state_abbr': 'lc',
  'weather_state_name': 'Light Cloud',
  'wind_direction': 0.6667042804391718,
  'wind_direction_compass': 'N',
  'wind_speed': 3.037084229459954},
 {'air_pressure': 1045.13,
  'applicable_date': '2019-01-03',
  'created': '2019-01-03T00:40:02.323624Z',
  'humidity': 78,
  'id': 5514720723337216,
  'max_temp': 4.51,
  'min_temp': -4.11,
  'predictability': 70,
  'the_temp': 4.54,
  'visibility': 8.51185327686312,
  'weather_state_abbr': 'lc',
  'weather_state_name': 'Light Cloud',
  'wind_direction': 357.672307968176,
  'wind_direction_compass': 'N',
  'wind_speed': 2.9382220472739204},
 {'air_pressure': 1045.63,
  'applicable_date': '2019-01-03',
  'created': '2019-01-02T21:38:02.210074Z',
  'humidity': 78,
  'id': 6625245855219712,
  'max_temp': 4.51,
  'min_temp': -4.11,
  'predictability': 70,
  'the_temp': 4.305,
  'visibility': 7.976852680346775,
  'weather_state_abbr': 'lc',
  'weather_state_name': 'Light Cloud',
  'wind_direction': 352.6514969013095,
  'wind_direction_compass': 'N',
  'wind_speed': 2.8040062472739207},
 {'air_pressure': 1045.63,
  'applicable_date': '2019-01-03',
  'created': '2019-01-02T18:36:02.564848Z',
  'humidity': 78,
  'id': 5295259655340032,
  'max_temp': 4.825,
  'min_temp': -4.003333333333333,
  'predictability': 70,
  'the_temp': 4.375,
  'visibility': 7.387171418913545,
  'weather_state_abbr': 'lc',
  'weather_state_name': 'Light Cloud',
  'wind_direction': 350.49548458945054,
  'wind_direction_compass': 'N',
  'wind_speed': 3.1203215972739207},
 {'air_pressure': 1045.63,
  'applicable_date': '2019-01-03',
  'created': '2019-01-02T15:34:01.762390Z',
  'humidity': 78,
  'id': 4821462535897088,
  'max_temp': 4.825,
  'min_temp': -4.003333333333333,
  'predictability': 70,
  'the_temp': 4.345,
  'visibility': 7.98741599061481,
  'weather_state_abbr': 'lc',
  'weather_state_name': 'Light Cloud',
  'wind_direction': 350.49548458945054,
  'wind_direction_compass': 'N',
  'wind_speed': 3.24894507227392},
 {'air_pressure': 1045.13,
  'applicable_date': '2019-01-03',
  'created': '2019-01-02T12:32:02.962875Z',
  'humidity': 78,
  'id': 6415498795286528,
  'max_temp': 4.825,
  'min_temp': -4.003333333333333,
  'predictability': 70,
  'the_temp': 4.31,
  'visibility': 8.808247335560328,
  'weather_state_abbr': 'lc',
  'weather_state_name': 'Light Cloud',
  'wind_direction': 357.0,
  'wind_direction_compass': 'N',
  'wind_speed': 3.226575772273921},
 {'air_pressure': 1045.63,
  'applicable_date': '2019-01-03',
  'created': '2019-01-02T09:30:02.360261Z',
  'humidity': 78,
  'id': 6289346076344320,
  'max_temp': 4.8625,
  'min_temp': -3.7566666666666664,
  'predictability': 70,
  'the_temp': 4.265,
  'visibility': 8.265479599141017,
  'weather_state_abbr': 'lc',
  'weather_state_name': 'Light Cloud',
  'wind_direction': 356.5,
  'wind_direction_compass': 'N',
  'wind_speed': 3.36138389727392},
 {'air_pressure': 1045.435,
  'applicable_date': '2019-01-03',
  'created': '2019-01-02T06:28:01.959431Z',
  'humidity': 78,
  'id': 5449224971878400,
  'max_temp': 4.93,
  'min_temp': -2.19,
  'predictability': 70,
  'the_temp': 5.0,
  'visibility': 7.995183130517776,
  'weather_state_abbr': 'lc',
  'weather_state_name': 'Light Cloud',
  'wind_direction': 352.0453709981796,
  'wind_direction_compass': 'N',
  'wind_speed': 3.153016034566134},
 {'air_pressure': 1045.435,
  'applicable_date': '2019-01-03',
  'created': '2019-01-02T03:26:01.965317Z',
  'humidity': 79,
  'id': 5099099237908480,
  'max_temp': 4.93,
  'min_temp': -2.19,
  'predictability': 70,
  'the_temp': 4.91,
  'visibility': 8.251809432911795,
  'weather_state_abbr': 'lc',
  'weather_state_name': 'Light Cloud',
  'wind_direction': 352.0453709981796,
  'wind_direction_compass': 'N',
  'wind_speed': 3.1194620845661336},
 {'air_pressure': 1044.325,
  'applicable_date': '2019-01-03',
  'created': '2019-01-02T00:24:03.270194Z',
  'humidity': 78,
  'id': 4749788121661440,
  'max_temp': 4.6450000000000005,
  'min_temp': -3.3800000000000003,
  'predictability': 70,
  'the_temp': 4.27,
  'visibility': 9.383015688379862,
  'weather_state_abbr': 'lc',
  'weather_state_name': 'Light Cloud',
  'wind_direction': 354.0165971337593,
  'wind_direction_compass': 'N',
  'wind_speed': 3.107713856885787},
 {'air_pressure': 1044.825,
  'applicable_date': '2019-01-03',
  'created': '2019-01-01T21:22:09.363779Z',
  'humidity': 79,
  'id': 6631343500820480,
  'max_temp': 4.6450000000000005,
  'min_temp': -3.3800000000000003,
  'predictability': 70,
  'the_temp': 4.3149999999999995,
  'visibility': 9.080718603356399,
  'weather_state_abbr': 'lc',
  'weather_state_name': 'Light Cloud',
  'wind_direction': 354.0165971337593,
  'wind_direction_compass': 'N',
  'wind_speed': 3.141267806885787},
 {'air_pressure': 1044.825,
  'applicable_date': '2019-01-03',
  'created': '2019-01-01T18:20:02.514329Z',
  'humidity': 79,
  'id': 6269858467545088,
  'max_temp': 4.6275,
  'min_temp': -3.9299999999999997,
  'predictability': 70,
  'the_temp': 4.335,
  'visibility': 9.065184323550465,
  'weather_state_abbr': 'lc',
  'weather_state_name': 'Light Cloud',
  'wind_direction': 351.0036758364123,
  'wind_direction_compass': 'N',
  'wind_speed': 3.094029206885787},
 {'air_pressure': 1044.825,
  'applicable_date': '2019-01-03',
  'created': '2019-01-01T15:18:01.726776Z',
  'humidity': 79,
  'id': 5664733210345472,
  'max_temp': 4.6275,
  'min_temp': -3.9299999999999997,
  'predictability': 70,
  'the_temp': 4.234999999999999,
  'visibility': 9.024173824862801,
  'weather_state_abbr': 'lc',
  'weather_state_name': 'Light Cloud',
  'wind_direction': 351.0036758364123,
  'wind_direction_compass': 'N',
  'wind_speed': 3.099621531885787},
 {'air_pressure': 1044.325,
  'applicable_date': '2019-01-03',
  'created': '2019-01-01T12:16:03.162603Z',
  'humidity': 79,
  'id': 6429890224062464,
  'max_temp': 4.6275,
  'min_temp': -3.1975,
  'predictability': 70,
  'the_temp': 4.285,
  'visibility': 10.974657997295793,
  'weather_state_abbr': 'lc',
  'weather_state_name': 'Light Cloud',
  'wind_direction': 351.0036758364123,
  'wind_direction_compass': 'N',
  'wind_speed': 3.194691056885787},
 {'air_pressure': 1044.325,
  'applicable_date': '2019-01-03',
  'created': '2019-01-01T09:14:02.766039Z',
  'humidity': 79,
  'id': 5819180234309632,
  'max_temp': 4.635,
  'min_temp': -3.1025,
  'predictability': 70,
  'the_temp': 4.205,
  'visibility': 12.812363298337708,
  'weather_state_abbr': 'lc',
  'weather_state_name': 'Light Cloud',
  'wind_direction': 350.00489325099096,
  'wind_direction_compass': 'N',
  'wind_speed': 3.146206631885787},
 {'air_pressure': 1045.025,
  'applicable_date': '2019-01-03',
  'created': '2019-01-01T06:12:02.861877Z',
  'humidity': 79,
  'id': 5305238793748480,
  'max_temp': 5.27,
  'min_temp': -1.7349999999999999,
  'predictability': 70,
  'the_temp': 4.859999999999999,
  'visibility': 12.942851248707548,
  'weather_state_abbr': 'lc',
  'weather_state_name': 'Light Cloud',
  'wind_direction': 353.66795819615595,
  'wind_direction_compass': 'N',
  'wind_speed': 3.5273158905273205},
 {'air_pressure': 1045.025,
  'applicable_date': '2019-01-03',
  'created': '2019-01-01T03:10:02.659934Z',
  'humidity': 78,
  'id': 5384403630948352,
  'max_temp': 5.27,
  'min_temp': -1.7349999999999999,
  'predictability': 70,
  'the_temp': 4.835,
  'visibility': 12.579659786844825,
  'weather_state_abbr': 'lc',
  'weather_state_name': 'Light Cloud',
  'wind_direction': 353.66795819615595,
  'wind_direction_compass': 'N',
  'wind_speed': 3.5217235655273202},
 {'air_pressure': 1045.19,
  'applicable_date': '2019-01-03',
  'created': '2019-01-01T00:08:02.661502Z',
  'humidity': 78,
  'id': 6457847088939008,
  'max_temp': 4.965,
  'min_temp': -3.3433333333333337,
  'predictability': 70,
  'the_temp': 4.415,
  'visibility': 12.579659786844825,
  'weather_state_abbr': 'lc',
  'weather_state_name': 'Light Cloud',
  'wind_direction': 343.7967945798378,
  'wind_direction_compass': 'NNW',
  'wind_speed': 3.4588081913127335},
 {'air_pressure': 1045.69,
  'applicable_date': '2019-01-03',
  'created': '2018-12-31T21:06:03.160054Z',
  'humidity': 78,
  'id': 4945790162173952,
  'max_temp': 4.965,
  'min_temp': -3.3433333333333337,
  'predictability': 70,
  'the_temp': 4.475,
  'visibility': 12.889413326175138,
  'weather_state_abbr': 'lc',
  'weather_state_name': 'Light Cloud',
  'wind_direction': 343.7967945798378,
  'wind_direction_compass': 'NNW',
  'wind_speed': 3.4364388913127337},
 {'air_pressure': 1045.19,
  'applicable_date': '2019-01-03',
  'created': '2018-12-31T18:04:02.881955Z',
  'humidity': 78,
  'id': 6742300491251712,
  'max_temp': 4.725,
  'min_temp': -3.3200000000000003,
  'predictability': 70,
  'the_temp': 4.43,
  'visibility': 13.672341028394177,
  'weather_state_abbr': 'lc',
  'weather_state_name': 'Light Cloud',
  'wind_direction': 340.0605939552979,
  'wind_direction_compass': 'NNW',
  'wind_speed': 3.2332158663127335},
 {'air_pressure': 1045.19,
  'applicable_date': '2019-01-03',
  'created': '2018-12-31T15:02:03.478214Z',
  'humidity': 78,
  'id': 6601147867463680,
  'max_temp': 4.725,
  'min_temp': -3.3200000000000003,
  'predictability': 70,
  'the_temp': 4.48,
  'visibility': 12.721332418674939,
  'weather_state_abbr': 'lc',
  'weather_state_name': 'Light Cloud',
  'wind_direction': 340.0605939552979,
  'wind_direction_compass': 'NNW',
  'wind_speed': 3.1717002913127335},
 {'air_pressure': 1045.19,
  'applicable_date': '2019-01-03',
  'created': '2018-12-31T12:00:02.914208Z',
  'humidity': 78,
  'id': 4511724946325504,
  'max_temp': 4.725,
  'min_temp': -2.74,
  'predictability': 70,
  'the_temp': 4.48,
  'visibility': 12.721332418674939,
  'weather_state_abbr': 'lc',
  'weather_state_name': 'Light Cloud',
  'wind_direction': 340.0605939552979,
  'wind_direction_compass': 'NNW',
  'wind_speed': 3.1717002913127335},
 {'air_pressure': 1045.69,
  'applicable_date': '2019-01-03',
  'created': '2018-12-31T08:58:02.537954Z',
  'humidity': 79,
  'id': 5431744454983680,
  'max_temp': 5.0325,
  'min_temp': -2.6825,
  'predictability': 70,
  'the_temp': 4.4399999999999995,
  'visibility': 12.216468324982104,
  'weather_state_abbr': 'lc',
  'weather_state_name': 'Light Cloud',
  'wind_direction': 341.42306723446694,
  'wind_direction_compass': 'NNW',
  'wind_speed': 3.0344005163127337},
 {'air_pressure': 1045.325,
  'applicable_date': '2019-01-03',
  'created': '2018-12-31T05:56:03.165575Z',
  'humidity': 79,
  'id': 6691052941475840,
  'max_temp': 5.3575,
  'min_temp': -1.82,
  'predictability': 70,
  'the_temp': 4.72,
  'visibility': 13.6810402250855,
  'weather_state_abbr': 'lc',
  'weather_state_name': 'Light Cloud',
  'wind_direction': 347.6749040988669,
  'wind_direction_compass': 'NNW',
  'wind_speed': 2.880402239672314},
 {'air_pressure': 1045.325,
  'applicable_date': '2019-01-03',
  'created': '2018-12-31T02:54:03.060458Z',
  'humidity': 79,
  'id': 6079282178686976,
  'max_temp': 5.4025,
  'min_temp': -1.865,
  'predictability': 70,
  'the_temp': 4.725,
  'visibility': 14.842382983377078,
  'weather_state_abbr': 'lc',
  'weather_state_name': 'Light Cloud',
  'wind_direction': 343.59561873797986,
  'wind_direction_compass': 'NNW',
  'wind_speed': 2.7556636396723135},
 {'air_pressure': 1044.6100000000001,
  'applicable_date': '2019-01-03',
  'created': '2018-12-30T23:52:02.458407Z',
  'humidity': 77,
  'id': 6034638275346432,
  'max_temp': 5.0225,
  'min_temp': -2.2333333333333334,
  'predictability': 70,
  'the_temp': 4.34,
  'visibility': 13.45051151276545,
  'weather_state_abbr': 'lc',
  'weather_state_name': 'Light Cloud',
  'wind_direction': 332.0987526324926,
  'wind_direction_compass': 'NNW',
  'wind_speed': 2.6897985135170606},
 {'air_pressure': 1044.6100000000001,
  'applicable_date': '2019-01-03',
  'created': '2018-12-30T20:50:02.215793Z',
  'humidity': 78,
  'id': 6346125812432896,
  'max_temp': 5.0225,
  'min_temp': -2.2333333333333334,
  'predictability': 70,
  'the_temp': 4.359999999999999,
  'visibility': 13.190467668814126,
  'weather_state_abbr': 'lc',
  'weather_state_name': 'Light Cloud',
  'wind_direction': 334.7815667085079,
  'wind_direction_compass': 'NNW',
  'wind_speed': 2.6730215385170606},
 {'air_pressure': 1044.6100000000001,
  'applicable_date': '2019-01-03',
  'created': '2018-12-30T17:48:02.526212Z',
  'humidity': 79,
  'id': 6227649944879104,
  'max_temp': 5.02,
  'min_temp': -2.8633333333333333,
  'predictability': 70,
  'the_temp': 4.295,
  'visibility': 13.278391692515708,
  'weather_state_abbr': 'lc',
  'weather_state_name': 'Light Cloud',
  'wind_direction': 341.09538696954405,
  'wind_direction_compass': 'NNW',
  'wind_speed': 2.6263752635170605},
 {'air_pressure': 1044.1100000000001,
  'applicable_date': '2019-01-03',
  'created': '2018-12-30T14:46:02.459579Z',
  'humidity': 79,
  'id': 5941095900905472,
  'max_temp': 5.02,
  'min_temp': -2.8633333333333333,
  'predictability': 70,
  'the_temp': 4.3,
  'visibility': 14.020308896047085,
  'weather_state_abbr': 'lc',
  'weather_state_name': 'Light Cloud',
  'wind_direction': 341.09538696954405,
  'wind_direction_compass': 'NNW',
  'wind_speed': 2.4753824885170603},
 {'air_pressure': 1044.6100000000001,
  'applicable_date': '2019-01-03',
  'created': '2018-12-30T11:44:03.279742Z',
  'humidity': 79,
  'id': 6605767239008256,
  'max_temp': 5.02,
  'min_temp': -2.3975,
  'predictability': 70,
  'the_temp': 4.32,
  'visibility': 12.28730464089716,
  'weather_state_abbr': 'lc',
  'weather_state_name': 'Light Cloud',
  'wind_direction': 341.09538696954405,
  'wind_direction_compass': 'NNW',
  'wind_speed': 2.3635359885170604},
 {'air_pressure': 1044.1100000000001,
  'applicable_date': '2019-01-03',
  'created': '2018-12-30T08:42:02.561972Z',
  'humidity': 79,
  'id': 5779689016655872,
  'max_temp': 4.93,
  'min_temp': -2.255,
  'predictability': 70,
  'the_temp': 4.220000000000001,
  'visibility': 11.379170643442297,
  'weather_state_abbr': 'lc',
  'weather_state_name': 'Light Cloud',
  'wind_direction': 36.49198836976815,
  'wind_direction_compass': 'NE',
  'wind_speed': 1.9155131885170604},
 {'air_pressure': 1043.9299999999998,
  'applicable_date': '2019-01-03',
  'created': '2018-12-30T05:40:04.867784Z',
  'humidity': 78,
  'id': 5989220925571072,
  'max_temp': 5.382499999999999,
  'min_temp': -1.8275000000000001,
  'predictability': 70,
  'the_temp': 5.109999999999999,
  'visibility': 12.357830271216098,
  'weather_state_abbr': 'lc',
  'weather_state_name': 'Light Cloud',
  'wind_direction': 10.459664353099424,
  'wind_direction_compass': 'N',
  'wind_speed': 2.1016138920524137},
 {'air_pressure': 1043.9299999999998,
  'applicable_date': '2019-01-03',
  'created': '2018-12-30T02:38:03.094139Z',
  'humidity': 77,
  'id': 6505330452201472,
  'max_temp': 5.4125,
  'min_temp': -1.7275,
  'predictability': 70,
  'the_temp': 5.1,
  'visibility': 11.432608565974707,
  'weather_state_abbr': 'lc',
  'weather_state_name': 'Light Cloud',
  'wind_direction': 12.877139148029228,
  'wind_direction_compass': 'NNE',
  'wind_speed': 2.253844142052414},
 {'air_pressure': 1044.71,
  'applicable_date': '2019-01-03',
  'created': '2018-12-29T23:36:04.734419Z',
  'humidity': 78,
  'id': 4807741809885184,
  'max_temp': 5.0625,
  'min_temp': -2.5233333333333334,
  'predictability': 70,
  'the_temp': 4.41,
  'visibility': 9.997862483098704,
  'weather_state_abbr': 'lc',
  'weather_state_name': 'Light Cloud',
  'wind_direction': 59.10926074782563,
  'wind_direction_compass': 'ENE',
  'wind_speed': 1.9417541557305338},
 {'air_pressure': 1044.71,
  'applicable_date': '2019-01-03',
  'created': '2018-12-29T20:34:04.291716Z',
  'humidity': 78,
  'id': 5054176027475968,
  'max_temp': 5.0625,
  'min_temp': -2.5233333333333334,
  'predictability': 70,
  'the_temp': 4.41,
  'visibility': 9.997862483098704,
  'weather_state_abbr': 'lc',
  'weather_state_name': 'Light Cloud',
  'wind_direction': 59.10926074782563,
  'wind_direction_compass': 'ENE',
  'wind_speed': 1.9417541557305338},
 {'air_pressure': 1044.71,
  'applicable_date': '2019-01-03',
  'created': '2018-12-29T17:32:04.986350Z',
  'humidity': 78,
  'id': 5074010723319808,
  'max_temp': 5.2075,
  'min_temp': -1.18,
  'predictability': 70,
  'the_temp': 4.41,
  'visibility': 9.997862483098704,
  'weather_state_abbr': 'lc',
  'weather_state_name': 'Light Cloud',
  'wind_direction': 64.43588806843644,
  'wind_direction_compass': 'ENE',
  'wind_speed': 2.3517541557305335},
 {'air_pressure': 1044.71,
  'applicable_date': '2019-01-03',
  'created': '2018-12-29T14:30:05.358631Z',
  'humidity': 78,
  'id': 5329607448330240,
  'max_temp': 5.2075,
  'min_temp': -1.18,
  'predictability': 70,
  'the_temp': 4.41,
  'visibility': 9.997862483098704,
  'weather_state_abbr': 'lc',
  'weather_state_name': 'Light Cloud',
  'wind_direction': 64.43588806843644,
  'wind_direction_compass': 'ENE',

### Задача 2

Сохраните данные погоды, полученные в предыдущей задаче, в файл `weather.json`. При сохранении используйте четыре пробела для форматирования.

In [ ]:
with open('/content/drive/MyDrive/Python/weather.json', 'w') as file:
    json.dump(data, file, indent = 4)

### Задача 3

Загрузите содержимое файла `weather.json` в DataFrame и выведите первые пять строк DataFrame на экран.

In [ ]:
df = pd.read_json('/content/drive/MyDrive/Python/weather.json')
df.head()

                 id weather_state_name  ... visibility predictability
0  5474349238714368        Light Cloud  ...   8.638924             70
1  6084939992793088        Light Cloud  ...   9.894093             70
2  6465644870500352        Light Cloud  ...   9.894093             70
3  4556877383860224        Light Cloud  ...   9.193497             70
4  4595351784783872        Light Cloud  ...   8.326063             70

[5 rows x 15 columns]

### Задача 4

Сохраните DataFrame из предыдущей задачи в файл `result.csv`. В качестве названия столбца-индекса используйте `index`.

In [ ]:
df.to_csv("/content/drive/MyDrive/Python/result.csv")

### Задача 5

Загрузите содержимое SQL-таблицы `ratings` в DataFrame. Выведите первые пять строк DataFrame на экран. Для подключения к БД используйте строку подключения, указанную в следующей ячейке.

In [ ]:
#postgresql+psycopg2://readonly:6hajV34RTQfmxhS@dsstudents.skillbox.ru:5432/ratings не грузится!!!

conn = 'postgresql+psycopg2://readonly:6hajV34RTQfmxhS@dsstudents.skillbox.ru:5432/db_ds_students'

engine = sqlalchemy.create_engine(conn)
connect = engine.connect()
df = pd.read_sql("select * from ratings", connect)
df.head()

   userid  movieid  rating   timestamp
0    4450     2490     2.0  1229618369
1    4450     2502     3.0  1249844913
2    4450     2505     4.0  1230227337
3    4450     2513     3.0  1229615274
4    4450     2514     3.0  1230488694

### Задача 6

Сохраните первые 10000 записей датафрейма из предыдущей задачи в файл `result2.xlsx`, при сохранении задайте листу имя `MySheet`.

(Примечание: для указания имени листа в файле Excel как при чтении, так и при записи используется параметр `sheet_name`)

In [ ]:
df_1 = df.iloc[:10001,:]
df_1.to_excel('/content/drive/MyDrive/Python/result2.xlsx', sheet_name='MySheet')

### Задача 7

Определите количество документов в коллекции `users` в MongoDB. Если количество документов < 1000, то в следующей ячейке загрузите всё содержимое этой коллекции в список и выведите нулевой элемент этого списка на экран. Для подключения к MongoDB используйте строку подключения, указанную в следующей ячейке.

In [ ]:
conn = 'mongodb://students:X63673t47Gl03Sq@dsstudents.skillbox.ru:27017/?authSource=movies'

connect = pymongo.MongoClient(conn)
db = connect['movies']

In [ ]:
db.list_collection_names()

['tags', 'users']

In [ ]:
tags = db['users']

# Считаем количество документов

tags.find().count()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  """

100

In [ ]:
# Т.к. число документов менее 1000, то загружаем всё содержимое этой коллекции в список и 
# выведим нулевой элемент этого списка на экран. 

alll = tags.find()
alll

# all - это курсор, а не список словарей

In [ ]:
for doc in alll:
    print(doc)

{'_id': ObjectId('5cc69095067496679c74f7a4'), 'user_id': 'ed5da480-57a2-489c-8e68-512155ab9892', 'first_name': 'Жанна', 'last_name': 'Петрова', 'mail': 'zhanna_03816@gmail.com', 'age': 20.0}
{'_id': ObjectId('5cc690e2067496679c74f7a5'), 'user_id': '7ba07e70-f76a-4bbc-9b5d-34265f4f7638', 'first_name': 'Андрей', 'last_name': 'Белоусов', 'mail': 'andrej_23624@ivi.ru', 'age': 18.0}
{'_id': ObjectId('5cc690e2067496679c74f7a6'), 'user_id': '8b1752da-599d-413a-a2e9-bc75387b2be9', 'first_name': 'Евгения', 'last_name': 'Дементьева', 'mail': 'evgenija_22008@skillbox.ru', 'age': 18.0}
{'_id': ObjectId('5cc690e2067496679c74f7a7'), 'user_id': '3e3b7b84-65f0-4152-815a-730bec31bb9d', 'first_name': 'Василиса', 'last_name': 'Семенова', 'mail': 'vasilisa_42757@ivi.ru', 'age': 18.0}
{'_id': ObjectId('5cc690e2067496679c74f7a8'), 'user_id': '8c390b6e-a490-44ac-b974-f5dec7f6970b', 'first_name': 'Наина', 'last_name': 'Горбунова', 'mail': 'naina_95710@ivi.ru', 'age': 19.0}
{'_id': ObjectId('5cc690e2067496679c74f7a9'), 'user_id': '1affa6e8-1e05-4728-96ed-dd471f9552d1', 'first_name': 'Богдан', 'last_name': 'Беляев', 'mail': 'bogdan_44091@yandex.ru', 'age': 23.0}
{'_id': ObjectId('5cc690e2067496679c74f7aa'), 'user_id': 'f7006ad5-9ecd-4606-a8ee-9c730baeb000', 'first_name': 'Орест', 'last_name': 'Гришин', 'mail': 'orest_20872@gmail.com', 'age': 17.0}
{'_id': ObjectId('5cc690e2067496679c74f7ab'), 'user_id': 'd86c91d2-d1e3-40ac-bbc3-c5d8d494a1b2', 'first_name': 'Исидор', 'last_name': 'Горшков', 'mail': 'isidor_91830@skillbox.ru', 'age': 24.0}
{'_id': ObjectId('5cc690e2067496679c74f7ac'), 'user_id': '9021676d-c57b-46c3-b9a4-e939f824c9a2', 'first_name': 'Наина', 'last_name': 'Ковалева', 'mail': 'naina_95952@mail.ru', 'age': 27.0}
{'_id': ObjectId('5cc690e2067496679c74f7ad'), 'user_id': 'd5617a94-e8d3-4ebb-b415-f62637e4e3f8', 'first_name': 'Галина', 'last_name': 'Ефремова', 'mail': 'galina_32909@gmail.com', 'age': 21.0}
{'_id': ObjectId('5cc690e2067496679c74f7ae'), 'user_id': '39599205-2be9-4ab0-82db-5f5f95b35d07', 'first_name': 'Прокофий', 'last_name': 'Молчанов', 'mail': '2276433@skillbox.ru', 'age': 19.0}
{'_id': ObjectId('5cc690e2067496679c74f7af'), 'user_id': 'c416e416-5310-4780-adfd-361d681f6c63', 'first_name': 'Светозар', 'last_name': 'Котов', 'mail': 'svetozar_63963@mail.ru', 'age': 20.0}
{'_id': ObjectId('5cc690e2067496679c74f7b0'), 'user_id': '085fd66e-1e74-4fd8-af96-720439f270a7', 'first_name': 'Ольга', 'last_name': 'Фадеева', 'mail': 'olga_92542@yandex.ru', 'age': 17.0}
{'_id': ObjectId('5cc690e2067496679c74f7b1'), 'user_id': 'ae9cf4ba-ef3d-4179-9a1e-facbdf7939a1', 'first_name': 'Ладимир', 'last_name': 'Уваров', 'mail': 'ladimir_73454@gmail.com', 'age': 24.0}
{'_id': ObjectId('5cc690e2067496679c74f7b2'), 'user_id': '040909a4-8478-4b9d-8485-0225d8f30269', 'first_name': 'Лукия', 'last_name': 'Пестова', 'mail': 'lukija_07767@ivi.ru', 'age': 22.0}
{'_id': ObjectId('5cc690e2067496679c74f7b3'), 'user_id': '9cd89aa7-55a4-4bac-a135-e233143717a2', 'first_name': 'Эдуард', 'last_name': 'Котов', 'mail': 'eduard_13936@gmail.com', 'age': 16.0}
{'_id': ObjectId('5cc690e2067496679c74f7b4'), 'user_id': '7d1e7911-c279-4f11-8497-bb6ffe6f3600', 'first_name': 'Изот', 'last_name': 'Давыдов', 'mail': 'izot_25897@ivi.ru', 'age': 19.0}
{'_id': ObjectId('5cc690e2067496679c74f7b5'), 'user_id': '83cb8f2a-9646-4510-9e6b-61752a365bf2', 'first_name': 'Майя', 'last_name': 'Иванова', 'mail': 'majja_54000@mail.ru', 'age': 21.0}
{'_id': ObjectId('5cc690e2067496679c74f7b6'), 'user_id': '29ff83b9-35c7-4481-99ae-55465f641894', 'first_name': 'Сила', 'last_name': 'Шарапов', 'mail': 'sila_20744@yandex.ru', 'age': 19.0}
{'_id': ObjectId('5cc690e2067496679c74f7b7'), 'user_id': '71d10c2c-fc8b-4262-875a-0fbddfca37ae', 'first_name': 'Павел', 'last_name': 'Петухов', 'mail': 'pavel_04968@mail.ru', 'age': 16.0}
{'_id': ObjectId('5cc690e2067496679c74f7b8'), 'user_id': '401aed31-0da0-4b94-ad2b-17af415cccec', 'first_name': 'Нифонт', 'last_name': 'Лобанов', 'mail': 'nifont_84176@skillbox.ru', 'age': 18.0}
{'_id': ObjectId('5cc690e2067496679c74f7b9'), 'user_id': 'c344aa0d-3343-4f55-8ec3-9b38c13b20f2', 'first_name': 'Олег', 'last_name': 'Субботин', 'mail': 'oleg_04772@gmail.com', 'age': 23.0}
{'_id': ObjectId('5cc690e2067496679c74f7ba'), 'user_id': 'c561b096-d5e1-4d0a-9e7a-d0e7000fdd8e', 'first_name': 'Оксана', 'last_name': 'Белова', 'mail': 'oksana_68810@mail.ru', 'age': 23.0}
{'_id': ObjectId('5cc690e2067496679c74f7bb'), 'user_id': '8a1ed233-c4fb-41d0-81b3-59d10a088458', 'first_name': 'Зоя', 'last_name': 'Архипова', 'mail': 'zoja.arhipova@skillbox.ru', 'age': 17.0}
{'_id': ObjectId('5cc690e2067496679c74f7bc'), 'user_id': 'dbd8dc6c-a654-470c-af90-ab7940cdfedb', 'first_name': 'Зосима', 'last_name': 'Гурьев', 'mail': 'zosima_84291@yandex.ru', 'age': 25.0}
{'_id': ObjectId('5cc690e2067496679c74f7bd'), 'user_id': '63a313dd-b997-4c7a-af35-af7e0e2afc31', 'first_name': 'Адриан', 'last_name': 'Матвеев', 'mail': 'adrian_40077@yandex.ru', 'age': 21.0}
{'_id': ObjectId('5cc690e2067496679c74f7be'), 'user_id': 'bf298214-8018-43ce-be12-045c5df32926', 'first_name': 'Нонна', 'last_name': 'Егорова', 'mail': 'nonna_30106@gmail.com', 'age': 18.0}
{'_id': ObjectId('5cc690e2067496679c74f7bf'), 'user_id': '72e693a2-15cc-48ee-9f18-0b758f5f0063', 'first_name': 'Каллистрат', 'last_name': 'Сафонов', 'mail': 'kallistrat.safonov@gmail.com', 'age': 24.0}
{'_id': ObjectId('5cc690e2067496679c74f7c0'), 'user_id': '904a63ec-8651-45a7-bbf9-e53dcdeb55de', 'first_name': 'Тимофей', 'last_name': 'Кошелев', 'mail': 'timofej_84254@skillbox.ru', 'age': 22.0}
{'_id': ObjectId('5cc690e2067496679c74f7c1'), 'user_id': 'b516f25a-13b6-4ae8-a86e-b999f08cf56a', 'first_name': 'Евгения', 'last_name': 'Галкина', 'mail': 'evgenija_83796@skillbox.ru', 'age': 23.0}
{'_id': ObjectId('5cc690e2067496679c74f7c2'), 'user_id': '888a3ae1-8f38-4928-8c74-cc4e396b550f', 'first_name': 'Борислав', 'last_name': 'Алексеев', 'mail': 'borislav.alekseev@ivi.ru', 'age': 24.0}
{'_id': ObjectId('5cc690e2067496679c74f7c3'), 'user_id': '7d23fa36-e411-457f-90b7-c5ceeef02fea', 'first_name': 'Амос', 'last_name': 'Сафонов', 'mail': 'amos_84678@mail.ru', 'age': 19.0}
{'_id': ObjectId('5cc690e2067496679c74f7c4'), 'user_id': '4aed19fd-04b9-43e1-af77-bf7147fdca55', 'first_name': 'Лукия', 'last_name': 'Фокина', 'mail': 'lukija_91367@skillbox.ru', 'age': 24.0}
{'_id': ObjectId('5cc690e2067496679c74f7c5'), 'user_id': '5093edef-7223-4cf1-a2a1-dc52f48248c9', 'first_name': 'Селиверст', 'last_name': 'Попов', 'mail': 'seliverst_12323@yandex.ru', 'age': 19.0}
{'_id': ObjectId('5cc690e2067496679c74f7c6'), 'user_id': '444f7aa9-16c7-476a-90e1-d5754e96958f', 'first_name': 'Ипат', 'last_name': 'Брагин', 'mail': 'ipat_95892@gmail.com', 'age': 17.0}
{'_id': ObjectId('5cc690e2067496679c74f7c7'), 'user_id': '9c2594e2-aef2-424b-a7a4-3b029641fa14', 'first_name': 'Марфа', 'last_name': 'Дмитриева', 'mail': 'marfa.dmitrieva@mail.ru', 'age': 17.0}
{'_id': ObjectId('5cc690e2067496679c74f7c8'), 'user_id': 'e1c59e2b-1ba8-4a4c-902c-5b81aef40591', 'first_name': 'Надежда', 'last_name': 'Лыткина', 'mail': 'nadezhda.lytkina@mail.ru', 'age': 18.0}
{'_id': ObjectId('5cc690e2067496679c74f7c9'), 'user_id': '5c11f925-685f-4678-b127-3b45d479e22c', 'first_name': 'Клавдий', 'last_name': 'Колобов', 'mail': 'klavdij_56463@gmail.com', 'age': 21.0}
{'_id': ObjectId('5cc690e2067496679c74f7ca'), 'user_id': '1deee792-15be-41a3-a101-e642556c7ec9', 'first_name': 'Варлаам', 'last_name': 'Воронов', 'mail': 'varlaam_74057@mail.ru', 'age': 19.0}
{'_id': ObjectId('5cc690e2067496679c74f7cb'), 'user_id': 'ba45a07e-e3be-41d2-b674-698cf072772b', 'first_name': 'Мстислав', 'last_name': 'Зиновьев', 'mail': 'mstislav.zinovev@mail.ru', 'age': 17.0}
{'_id': ObjectId('5cc690e2067496679c74f7cc'), 'user_id': '4366d922-6e89-4562-9c5a-d340c74ca35d', 'first_name': 'Леон', 'last_name': 'Денисов', 'mail': 'leon.denisov@mail.ru', 'age': 23.0}
{'_id': ObjectId('5cc690e2067496679c74f7cd'), 'user_id': '69c52275-d261-4897-996e-a068079169a2', 'first_name': 'Фадей', 'last_name': 'Шаров', 'mail': 'fadej_02859@yandex.ru', 'age': 23.0}
{'_id': ObjectId('5cc690e2067496679c74f7ce'), 'user_id': '8139f03e-ecf4-43f3-a927-63ecf445b843', 'first_name': 'Эмиль', 'last_name': 'Владимиров', 'mail': 'emil_34697@yandex.ru', 'age': 18.0}
{'_id': ObjectId('5cc690e2067496679c74f7cf'), 'user_id': 'd08aa2b7-160b-4098-860f-aee846a28fc1', 'first_name': 'Епифан', 'last_name': 'Калинин', 'mail': 'epifan_67752@mail.ru', 'age': 17.0}
{'_id': ObjectId('5cc690e2067496679c74f7d0'), 'user_id': 'd78be9fd-f0c2-41de-b794-79f27a248b66', 'first_name': 'Феврония', 'last_name': 'Громова', 'mail': 'fevronija_40537@mail.ru', 'age': 18.0}
{'_id': ObjectId('5cc690e2067496679c74f7d1'), 'user_id': '25c18c65-bf1f-45d0-b6d2-218bb3c2b7d3', 'first_name': 'Степан', 'last_name': 'Ефремов', 'mail': 'stepan_55313@skillbox.ru', 'age': 22.0}
{'_id': ObjectId('5cc690e2067496679c74f7d2'), 'user_id': '38fad428-abfc-4705-bcf0-dc9578e23ec7', 'first_name': 'Варвара', 'last_name': 'Назарова', 'mail': 'varvara.nazarova@ivi.ru', 'age': 17.0}
{'_id': ObjectId('5cc690e2067496679c74f7d3'), 'user_id': '590ceb69-2d6b-4081-b9db-2a666b47039b', 'first_name': 'Глафира', 'last_name': 'Шестакова', 'mail': 'glafira_77346@ivi.ru', 'age': 23.0}
{'_id': ObjectId('5cc690e2067496679c74f7d4'), 'user_id': '7a0a9b38-6885-40fb-83c0-d52c59e0cb84', 'first_name': 'Яков', 'last_name': 'Васильев', 'mail': 'jakov_93158@ivi.ru', 'age': 18.0}
{'_id': ObjectId('5cc690e2067496679c74f7d5'), 'user_id': 'a6043593-bd49-4ab8-b197-7fb7b11fcdf2', 'first_name': 'Борис', 'last_name': 'Лыткин', 'mail': 'boris_51459@gmail.com', 'age': 18.0}
{'_id': ObjectId('5cc690e2067496679c74f7d6'), 'user_id': '67af67d2-b70e-410d-a617-a70ab7ff4c36', 'first_name': 'Екатерина', 'last_name': 'Лазарева', 'mail': 'ekaterina.lazareva@mail.ru', 'age': 18.0}
{'_id': ObjectId('5cc690e2067496679c74f7d7'), 'user_id': '785c7685-f1ad-499f-8f94-9d3969373bdd', 'first_name': 'Алевтина', 'last_name': 'Тимофеева', 'mail': 'alevtina_74233@mail.ru', 'age': 26.0}
{'_id': ObjectId('5cc690e2067496679c74f7d8'), 'user_id': '666874c1-4550-4c7e-aa0e-7db4c0a6330b', 'first_name': 'Регина', 'last_name': 'Мухина', 'mail': 'regina_56314@yandex.ru', 'age': 16.0}
{'_id': ObjectId('5cc690e2067496679c74f7d9'), 'user_id': '4987e4f3-69a4-4da3-9590-ba9ae58cfb0b', 'first_name': 'Вероника', 'last_name': 'Беляева', 'mail': 'veronika_83091@mail.ru', 'age': 27.0}
{'_id': ObjectId('5cc690e2067496679c74f7da'), 'user_id': 'c32ee426-1822-418d-b1cd-9142612b391a', 'first_name': 'Анжелика', 'last_name': 'Дементьева', 'mail': 'anzhelika_40406@mail.ru', 'age': 19.0}
{'_id': ObjectId('5cc690e2067496679c74f7db'), 'user_id': '70fdf4be-c854-4e9d-bfe0-068e6144ca6b', 'first_name': 'Зинаида', 'last_name': 'Никитина', 'mail': 'zinaida_13331@mail.ru', 'age': 21.0}
{'_id': ObjectId('5cc690e2067496679c74f7dc'), 'user_id': '0486f864-a9c0-4139-a0c9-74c8eba2d4ad', 'first_name': 'Сила', 'last_name': 'Тетерин', 'mail': 'sila_06851@gmail.com', 'age': 21.0}
{'_id': ObjectId('5cc690e2067496679c74f7dd'), 'user_id': '9c41ff35-f268-451d-9e1c-58ef293aeaa7', 'first_name': 'Мирослав', 'last_name': 'Лобанов', 'mail': 'miroslav_69286@mail.ru', 'age': 21.0}
{'_id': ObjectId('5cc690e2067496679c74f7de'), 'user_id': '72558398-b50b-4ec9-896a-ea13bddcc9b7', 'first_name': 'Прохор', 'last_name': 'Игнатьев', 'mail': 'prohor_52204@gmail.com', 'age': 27.0}
{'_id': ObjectId('5cc690e2067496679c74f7df'), 'user_id': 'd29e7e90-537a-4afa-a806-316c67b6f9cf', 'first_name': 'Галина', 'last_name': 'Власова', 'mail': 'galina_66964@mail.ru', 'age': 23.0}
{'_id': ObjectId('5cc690e2067496679c74f7e0'), 'user_id': 'a40fd3c1-81a1-4abb-aed8-9bea90eed880', 'first_name': 'Лора', 'last_name': 'Рыбакова', 'mail': 'lora_71820@mail.ru', 'age': 24.0}
{'_id': ObjectId('5cc690e2067496679c74f7e1'), 'user_id': '3e68b226-d786-4c1b-b283-407670480087', 'first_name': 'Пелагея', 'last_name': 'Орлова', 'mail': 'pelageja_16594@gmail.com', 'age': 16.0}
{'_id': ObjectId('5cc690e2067496679c74f7e2'), 'user_id': '2750a464-11ca-44ae-8c40-270df68fc989', 'first_name': 'Тамара', 'last_name': 'Кузьмина', 'mail': '7612348@skillbox.ru', 'age': 20.0}
{'_id': ObjectId('5cc690e2067496679c74f7e3'), 'user_id': '176bbfba-f63b-4812-b1df-88698b63e87b', 'first_name': 'Прохор', 'last_name': 'Чернов', 'mail': 'prohor.chernov@ivi.ru', 'age': 27.0}
{'_id': ObjectId('5cc690e2067496679c74f7e4'), 'user_id': '348c520e-bc63-4daa-a3c6-a4dbaa71384b', 'first_name': 'Антонина', 'last_name': 'Жукова', 'mail': 'antonina_92124@gmail.com', 'age': 18.0}
{'_id': ObjectId('5cc690e2067496679c74f7e5'), 'user_id': 'ac1836d6-e411-4b87-aa7d-6dd0a9531095', 'first_name': 'Тимофей', 'last_name': 'Стрелков', 'mail': 'timofej_20599@mail.ru', 'age': 24.0}
{'_id': ObjectId('5cc690e2067496679c74f7e6'), 'user_id': '7d97b6e8-3766-402d-8296-cef6f0d308c1', 'first_name': 'Милан', 'last_name': 'Орехов', 'mail': 'milan_33628@mail.ru', 'age': 22.0}
{'_id': ObjectId('5cc690e2067496679c74f7e7'), 'user_id': '5bb98efb-c301-4f3e-936a-6f07f334bb79', 'first_name': 'Анжелика', 'last_name': 'Никонова', 'mail': 'anzhelika_82611@yandex.ru', 'age': 17.0}
{'_id': ObjectId('5cc690e2067496679c74f7e8'), 'user_id': 'd14b49dc-699a-46d1-9ca7-c5bb3db285da', 'first_name': 'Алина', 'last_name': 'Гуляева', 'mail': 'alina.guljaeva@yandex.ru', 'age': 17.0}
{'_id': ObjectId('5cc690e2067496679c74f7e9'), 'user_id': 'f0685c08-faf7-4f10-a388-29b3756ab5e7', 'first_name': 'Наталья', 'last_name': 'Кузнецова', 'mail': 'natalja_38959@ivi.ru', 'age': 23.0}
{'_id': ObjectId('5cc690e2067496679c74f7ea'), 'user_id': '1049b94b-a11e-421a-9f8d-354a93e88dfa', 'first_name': 'Фаина', 'last_name': 'Мартынова', 'mail': 'faina_69468@yandex.ru', 'age': 22.0}
{'_id': ObjectId('5cc690e2067496679c74f7eb'), 'user_id': '0b1e3458-8dbe-4b70-9665-e85863f21fd8', 'first_name': 'Зосима', 'last_name': 'Михайлов', 'mail': '2628721@mail.ru', 'age': 19.0}
{'_id': ObjectId('5cc690e2067496679c74f7ec'), 'user_id': '1fc14162-d269-42db-b77f-bfd7b9f45103', 'first_name': 'Леон', 'last_name': 'Артемьев', 'mail': 'leon_38585@mail.ru', 'age': 17.0}
{'_id': ObjectId('5cc690e2067496679c74f7ed'), 'user_id': 'f9dbb99f-c637-438c-a6e1-7b2e45dc993d', 'first_name': 'Твердислав', 'last_name': 'Степанов', 'mail': 'tverdislav_07002@yandex.ru', 'age': 29.0}
{'_id': ObjectId('5cc690e2067496679c74f7ee'), 'user_id': '28c6677c-84bf-4dfb-9eac-9c4898fd7229', 'first_name': 'Марина', 'last_name': 'Аксенова', 'mail': 'marina.aksenova@yandex.ru', 'age': 18.0}
{'_id': ObjectId('5cc690e2067496679c74f7ef'), 'user_id': 'db3f2b8d-1755-48a6-b610-49ec14c70f70', 'first_name': 'Кира', 'last_name': 'Щербакова', 'mail': 'kira_33167@gmail.com', 'age': 19.0}
{'_id': ObjectId('5cc690e2067496679c74f7f0'), 'user_id': '49667c5e-5921-4a37-9794-69a9913c9755', 'first_name': 'Зосима', 'last_name': 'Федотов', 'mail': 'zosima_22294@ivi.ru', 'age': 23.0}
{'_id': ObjectId('5cc690e2067496679c74f7f1'), 'user_id': '459a6953-42f9-4313-86e0-c68a95d6ec36', 'first_name': 'Акулина', 'last_name': 'Смирнова', 'mail': 'akulina_03934@gmail.com', 'age': 19.0}
{'_id': ObjectId('5cc690e2067496679c74f7f2'), 'user_id': '82c3c554-c83c-4891-8570-34af9f4a3ac7', 'first_name': 'Оксана', 'last_name': 'Шилова', 'mail': 'oksana_36954@gmail.com', 'age': 16.0}
{'_id': ObjectId('5cc690e2067496679c74f7f3'), 'user_id': '4758a5a1-bbab-4f5f-8807-5cac1cf1dd98', 'first_name': 'Владлен', 'last_name': 'Панов', 'mail': 'vladlen_79936@yandex.ru', 'age': 21.0}
{'_id': ObjectId('5cc690e2067496679c74f7f4'), 'user_id': 'e2ffc768-9385-40b3-9424-f681dbe7595f', 'first_name': 'Эмилия', 'last_name': 'Турова', 'mail': 'emilija_09357@yandex.ru', 'age': 20.0}
{'_id': ObjectId('5cc690e2067496679c74f7f5'), 'user_id': '8c5c9258-476d-46d4-ad6a-53e833410a04', 'first_name': 'Епифан', 'last_name': 'Колобов', 'mail': 'epifan_90781@gmail.com', 'age': 19.0}
{'_id': ObjectId('5cc690e2067496679c74f7f6'), 'user_id': '68991965-1b3e-41a7-807a-3d95fd27379e', 'first_name': 'Ульяна', 'last_name': 'Игнатова', 'mail': 'uljana_99120@gmail.com', 'age': 19.0}
{'_id': ObjectId('5cc690e2067496679c74f7f7'), 'user_id': 'f4fa9ebc-6ec1-4be1-b7b4-54479176f2b3', 'first_name': 'Сигизмунд', 'last_name': 'Юдин', 'mail': 'sigizmund_24639@yandex.ru', 'age': 19.0}
{'_id': ObjectId('5cc690e2067496679c74f7f8'), 'user_id': '20055851-d8a8-404f-b4cc-b625edf4cbb4', 'first_name': 'Милица', 'last_name': 'Симонова', 'mail': 'militsa_92818@skillbox.ru', 'age': 17.0}
{'_id': ObjectId('5cc690e2067496679c74f7f9'), 'user_id': '7f0ccf54-6d4e-492c-9227-bc5d0d42903d', 'first_name': 'Мстислав', 'last_name': 'Степанов', 'mail': 'mstislav_29760@mail.ru', 'age': 28.0}
{'_id': ObjectId('5cc690e2067496679c74f7fa'), 'user_id': 'a1246423-e9c7-4ea8-8260-a2d51ea0b6c4', 'first_name': 'Радован', 'last_name': 'Комаров', 'mail': 'radovan_78777@skillbox.ru', 'age': 21.0}
{'_id': ObjectId('5cc690e2067496679c74f7fb'), 'user_id': 'c0ef5cf6-0fa3-47ab-a6c9-e1dd3d9357a0', 'first_name': 'Любовь', 'last_name': 'Зыкова', 'mail': 'ljubov_61088@mail.ru', 'age': 17.0}
{'_id': ObjectId('5cc690e2067496679c74f7fc'), 'user_id': 'f14b8666-5fd4-4acc-9d77-50df48fcd050', 'first_name': 'Нина', 'last_name': 'Алексеева', 'mail': 'nina_61823@yandex.ru', 'age': 17.0}
{'_id': ObjectId('5cc690e2067496679c74f7fd'), 'user_id': '1f81ac5c-e7da-4337-95bf-3febc893b6e5', 'first_name': 'Милан', 'last_name': 'Соловьев', 'mail': 'milan_57466@ivi.ru', 'age': 20.0}
{'_id': ObjectId('5cc690e2067496679c74f7fe'), 'user_id': '834051a4-c97d-4073-b37a-4f20166703ed', 'first_name': 'Мина', 'last_name': 'Нестеров', 'mail': 'mina_18662@gmail.com', 'age': 20.0}
{'_id': ObjectId('5cc690e2067496679c74f7ff'), 'user_id': '8fb1b613-4d8e-4f3d-8697-0586f32872e5', 'first_name': 'Виссарион', 'last_name': 'Яковлев', 'mail': 'vissarion.jakovlev@yandex.ru', 'age': 27.0}
{'_id': ObjectId('5cc690e2067496679c74f800'), 'user_id': 'd6b1d46a-5574-462f-8618-000b80467173', 'first_name': 'Евгения', 'last_name': 'Абрамова', 'mail': 'evgenija.abramova@skillbox.ru', 'age': 26.0}
{'_id': ObjectId('5cc690e2067496679c74f801'), 'user_id': 'cc7a3f96-af39-4ea2-8f58-1e2a3507f2d7', 'first_name': 'Лукия', 'last_name': 'Устинова', 'mail': 'lukija_73845@gmail.com', 'age': 16.0}
{'_id': ObjectId('5cc690e2067496679c74f802'), 'user_id': '9b379a34-edfc-4c06-9085-e6eb6cfd3951', 'first_name': 'Ульяна', 'last_name': 'Сергеева', 'mail': 'uljana_49607@gmail.com', 'age': 16.0}
{'_id': ObjectId('5cc690e2067496679c74f803'), 'user_id': '653462db-849f-4e21-89b5-1a1b28a52269', 'first_name': 'Эдуард', 'last_name': 'Сафонов', 'mail': 'eduard_26992@gmail.com', 'age': 16.0}
{'_id': ObjectId('5cc690e2067496679c74f804'), 'user_id': '395ab5c0-e2f1-4644-974e-29fa4f821b0e', 'first_name': 'Прасковья', 'last_name': 'Селезнева', 'mail': 'praskovja_16895@skillbox.ru', 'age': 20.0}
{'_id': ObjectId('5cc690e2067496679c74f805'), 'user_id': '1b681fe4-5c5a-4c60-b0a3-24241374df95', 'first_name': 'Аристарх', 'last_name': 'Селезнев', 'mail': '5065073@ivi.ru', 'age': 27.0}
{'_id': ObjectId('5cc690e2067496679c74f806'), 'user_id': '9fc78a49-22bc-4c21-9ee7-1444030c371a', 'first_name': 'Маргарита', 'last_name': 'Кабанова', 'mail': 'margarita.kabanova@yandex.ru', 'age': 19.0}
{'_id': ObjectId('5cc690e2067496679c74f807'), 'user_id': '3e585c7d-52f7-4718-a324-71a5fec75a47', 'first_name': 'Ангелина', 'last_name': 'Денисова', 'mail': 'angelina.denisova@mail.ru', 'age': 20.0}

In [ ]:
# Преобразуем курсор к списку:
my_list = list(alll)
my_list

[]

In [ ]:
# Выводим нулевой элемент:
alll = tags.find().limit(1)
my_list = list(alll)
my_list

[{'_id': ObjectId('5cc69095067496679c74f7a4'),
  'age': 20.0,
  'first_name': 'Жанна',
  'last_name': 'Петрова',
  'mail': 'zhanna_03816@gmail.com',
  'user_id': 'ed5da480-57a2-489c-8e68-512155ab9892'}]

### Задача 8

Преобразуйте список всех документов коллекции `users` из предыдущей задачи в pandas DataFrame и сохраните его содержимое в файл `result3.xlsx`.

In [ ]:
# Преобразуем список словарей в датафрейм:
alll = tags.find()
my_list = list(alll)
df = pd.DataFrame(my_list)
df

                         _id  ...   age
0   5cc69095067496679c74f7a4  ...  20.0
1   5cc690e2067496679c74f7a5  ...  18.0
2   5cc690e2067496679c74f7a6  ...  18.0
3   5cc690e2067496679c74f7a7  ...  18.0
4   5cc690e2067496679c74f7a8  ...  19.0
..                       ...  ...   ...
95  5cc690e2067496679c74f803  ...  16.0
96  5cc690e2067496679c74f804  ...  20.0
97  5cc690e2067496679c74f805  ...  27.0
98  5cc690e2067496679c74f806  ...  19.0
99  5cc690e2067496679c74f807  ...  20.0

[100 rows x 6 columns]

In [ ]:
df.to_excel('/content/drive/MyDrive/Python/result3.xlsx')

## Дополнительные (необязательные) задачи

### Задача 9

Используя данные SQL-таблицы `ratings`, для каждого пользователя (столбец `userid`) определите средний рейтинг, который этот пользователь поставил фильмам. Результат выведите на экран. 

Группировку проведите двумя способами: с помощью `GROUP BY` в строке запроса к БД и с использованием метода `groupby` в pandas.

Для подключения к БД используйте строку подключения в следующей ячейке

In [ ]:
conn = 'postgresql+psycopg2://readonly:6hajV34RTQfmxhS@dsstudents.skillbox.ru:5432/db_ds_students'
engine = sqlalchemy.create_engine(conn)
connect = engine.connect()

In [ ]:
df_1 = pd.read_sql("select userid, avg(rating) as mean_rating from ratings group by userid", connect)
df_1.head()

   userid  mean_rating
0    6114     4.000000
1    4790     4.000000
2     273     4.314685
3    3936     3.756757
4    5761     3.419220

In [ ]:
df_2 = pd.read_sql("select * from ratings", connect)
df_2.groupby('userid').agg('mean')['rating']

userid
1       4.277778
2       3.318182
3       3.100000
4       3.500000
5       4.269231
          ...
7952    3.390244
7953    3.567568
7954    3.750000
7955    4.150000
7956    3.290640
Name: rating, Length: 7956, dtype: float64

### Задача 10

Объедините таблицы `ratings` и `keywords` по столбцам `movieid` (используйте левое объединение). Объединение проведите двумя способами: с помощью `LEFT JOIN` в строке запроса к БД и с использованием метода `merge` в pandas. Результат объединения загрузите в DataFrame и сохраните в файл `result4.csv`.

Обратите внимание, что при объединении возможно дублирование столбцов. В результирующем датафрейме не должно быть таких дублированных столбцов.

In [ ]:
conn = 'postgresql+psycopg2://readonly:6hajV34RTQfmxhS@dsstudents.skillbox.ru:5432/db_ds_students'

df_4 = pd.read_sql("select * from keywords", connect)

In [ ]:
df_3 = pd.read_sql("select * from ratings", connect)

In [ ]:
df_3.head()

   userid  movieid  rating   timestamp
0    4450     2490     2.0  1229618369
1    4450     2502     3.0  1249844913
2    4450     2505     4.0  1230227337
3    4450     2513     3.0  1229615274
4    4450     2514     3.0  1230488694

In [ ]:
df_4.head()

   movieid                                               tags
0      862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1     8844  [{'id': 10090, 'name': 'board game'}, {'id': 1...
2    15602  [{'id': 1495, 'name': 'fishing'}, {'id': 12392...
3    31357  [{'id': 818, 'name': 'based on novel'}, {'id':...
4    11862  [{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...

In [ ]:
# Объединим таблицы ratings и keywords по столбцам movieid с использованием метода merge

df_3.merge(df_4).tail(50)

         userid  ...                                               tags
1361226    4387  ...                                                 []
1361227    4387  ...                                                 []
1361228    4387  ...  [{'id': 242, 'name': 'new york'}, {'id': 1552,...
1361229    4387  ...  [{'id': 242, 'name': 'new york'}, {'id': 1552,...
1361230    4387  ...  [{'id': 242, 'name': 'new york'}, {'id': 1552,...
1361231    4387  ...  [{'id': 242, 'name': 'new york'}, {'id': 1552,...
1361232    4387  ...                                                 []
1361233    4387  ...                                                 []
1361234    4387  ...                                                 []
1361235    4387  ...                                                 []
1361236    4387  ...                                                 []
1361237    4387  ...                                                 []
1361238    4387  ...                                                 []
1361239    4387  ...                                                 []
1361240    4387  ...                                                 []
1361241    4387  ...                                                 []
1361242    4387  ...                                                 []
1361243    4387  ...                                                 []
1361244    4387  ...                                                 []
1361245    4387  ...                                                 []
1361246    4387  ...                                                 []
1361247    4387  ...                                                 []
1361248    4387  ...  [{'id': 779, 'name': 'martial arts'}, {'id': 7...
1361249    4387  ...  [{'id': 779, 'name': 'martial arts'}, {'id': 7...
1361250    4387  ...  [{'id': 779, 'name': 'martial arts'}, {'id': 7...
1361251    4387  ...  [{'id': 779, 'name': 'martial arts'}, {'id': 7...
1361252    4387  ...                      [{'id': 701, 'name': 'cuba'}]
1361253    4387  ...                      [{'id': 701, 'name': 'cuba'}]
1361254    4387  ...                      [{'id': 701, 'name': 'cuba'}]
1361255    4387  ...                      [{'id': 701, 'name': 'cuba'}]
1361256    4387  ...  [{'id': 4144, 'name': 'donkey'}, {'id': 14783,...
1361257    4387  ...  [{'id': 4144, 'name': 'donkey'}, {'id': 14783,...
1361258    4387  ...  [{'id': 4144, 'name': 'donkey'}, {'id': 14783,...
1361259    4387  ...  [{'id': 4144, 'name': 'donkey'}, {'id': 14783,...
1361260    4387  ...                                                 []
1361261    4387  ...                                                 []
1361262    4387  ...                                                 []
1361263    4387  ...                                                 []
1361264    4427  ...  [{'id': 131, 'name': 'italy'}, {'id': 818, 'na...
1361265    4427  ...  [{'id': 131, 'name': 'italy'}, {'id': 818, 'na...
1361266    4427  ...  [{'id': 131, 'name': 'italy'}, {'id': 818, 'na...
1361267    4427  ...  [{'id': 131, 'name': 'italy'}, {'id': 818, 'na...
1361268    4436  ...  [{'id': 494, 'name': 'father son relationship'...
1361269    4436  ...  [{'id': 494, 'name': 'father son relationship'...
1361270    4436  ...  [{'id': 494, 'name': 'father son relationship'...
1361271    4436  ...  [{'id': 494, 'name': 'father son relationship'...
1361272    4447  ...  [{'id': 3289, 'name': 'villain'}, {'id': 15731...
1361273    4447  ...  [{'id': 3289, 'name': 'villain'}, {'id': 15731...
1361274    4447  ...  [{'id': 3289, 'name': 'villain'}, {'id': 15731...
1361275    4447  ...  [{'id': 3289, 'name': 'villain'}, {'id': 15731...

[50 rows x 5 columns]

In [ ]:
# Объединим таблицы ratings и keywords по столбцам movieid с помощью LEFT JOIN в строке запроса к БД

df_5 = pd.read_sql("select * from ratings left outer join keywords on keywords.movieid = ratings.movieid", connect)

In [ ]:
df_5.head(20)

    userid  movieid  ...  movieid                                               tags
0     4450     2490  ...      NaN                                               None
1     4450     2542  ...      NaN                                               None
2     4450     2571  ...      NaN                                               None
3     4450     2580  ...      NaN                                               None
4     4450     2628  ...      NaN                                               None
5     4450     2657  ...   2657.0  [{'id': 1155, 'name': 'brother sister relation...
6     4450     2657  ...   2657.0  [{'id': 1155, 'name': 'brother sister relation...
7     4450     2716  ...      NaN                                               None
8     4450     2722  ...   2722.0  [{'id': 293, 'name': 'female nudity'}, {'id': ...
9     4450     2722  ...   2722.0  [{'id': 293, 'name': 'female nudity'}, {'id': ...
10    4450     2762  ...   2762.0  [{'id': 769, 'name': 'falsely accused'}, {'id'...
11    4450     2762  ...   2762.0  [{'id': 769, 'name': 'falsely accused'}, {'id'...
12    4450     2808  ...      NaN                                               None
13    4450     2840  ...      NaN                                               None
14    4450     2858  ...      NaN                                               None
15    4450     2860  ...   2860.0  [{'id': 6677, 'name': 'knee'}, {'id': 10183, '...
16    4450     2860  ...   2860.0  [{'id': 6677, 'name': 'knee'}, {'id': 10183, '...
17    4450     2959  ...   2959.0  [{'id': 1605, 'name': 'new love'}, {'id': 2856...
18    4450     2959  ...   2959.0  [{'id': 1605, 'name': 'new love'}, {'id': 2856...
19    4450     2997  ...      NaN                                               None

[20 rows x 6 columns]

### Задача 11

Используя объединенную таблицу из предыдущего задания, найдите все идентификаторы фильмов с тегом `africa` (но не `south africa` или любые другие). Список тегов в формате JSON записан в столбце `tags`.

In [ ]:
len(df_5[(~df_5['tags'].isna()) & (df_5['tags'].str.contains("'africa'"))])

3116